h1 {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    width: 700px;
}

thead {
    background-color: aquamarine;
    
}

th {
    font-weight: bold;
    font-size: large;
    border-right: 2px solid black;
}

td {
    font-size: large;
    border-top: 2px solid black;
    border-right: 2px solid black;

}

tr {
    border: 2px solid black;
}

.specificity {
    text-align: center;
}